/*#loaderContainer {
  background-color: rgba(255, 255, 255, 0.95); 
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 20% auto 0; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 500px;
}

.slideshow-image{
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

@keyframes slide{
  0% {left: 0%;}
  /*50%{left: 50%;}*/
  100% {left: 100%;}
}

.mySlides {
  display: none;
  animation-name: fade;
  animation-duration: 0.75s;
}

@keyframes fade {
  0% {opacity: .2} 
  25% {opacity: .4}
  50% {opacity: .6}
  75% {opacity: .8}
  100% {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



