*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
}

body{
	font-size: 20px;
}

.navigation{
	height: 70px;
	background: #3B302A;
}

.navigation-link{
	text-decoration: none;
	line-height: 70px;
	padding: 0 30px;
	color: white;
}

.navigation-link:hover{
	color: #E7CE7C;
}

.navigation-small-image{
	display: none;
}

.navigation-small{
	display: none;
}

.logo{
	height: 90px;
	width: 70px;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 30px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 150px;
	list-style: none;
	z-index: 2;
}

.dropdown-content a{
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  /*border-bottom: solid #E7CE7C 0.5px;*/
}

.dropdown-content a:hover{
	margin-left: 5px;
	color: #E7CE7C;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.margin-container{
	margin: 50px 40px;
}

.image-container{
	background: url('../images/slideshow\ \(1\).jpg');
	background-size: cover;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image-container-text{
	width: 70%;
}
.image-container-text-header{
	font-size: 5rem;
	color: white;
  }
  
  .image-container-text-body{
	font-size: 1.5rem;
	color: white;
	line-height: 1.5;
  }
  
  .call-to-action{
	padding: 15px;
	color: #E7CE7C;
	background: #17ADCE;
	margin-top: 20px;
	font-size: 20px;
  }
  .flex-col{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
.aboutus{
	display: flex;
	flex-direction: column;
}

.aboutus-header{
	font-size: 50px;
	color: gray;
	line-height: 1.5;
}

.aboutus-text{
	color: gray;
	line-height: 1.5;
}

.container-news{
	background: #9D9895;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.news-section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.news-section-header{
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	padding-bottom: 20px;
	color: #3B302A;
}

.news{
	flex-grow: 1;
	flex-basis: 45%;
	background: #9D9895;
	padding: 20px;
	position: relative;
	height: auto;
}

.news:hover{
	background: #3B302A;
	transform: scale(1.09);
	 transition-duration: 0.5s;
	z-index: 2;
}

.news-header{
	font-size: 1.5rem;
	line-height: 1.5;
	color: #F5E8DB;
}
.news-brief{
	line-height: 1.5;
	color: white;
}

.news-date{
	margin-top: 5%;
	float: left;
	font-size: 0.7rem;
}

.news-readmore{
	margin-top: 5%;
	float: right;
	text-decoration: none;
	background: #17ADCE;
	color: #E7CE7C;
	padding: 10px;
}

.news-readmore:hover{
  color:#17ADCE;
  background: #E7CE7C; 
}

.footer{
	background: url("images/background (1).jpg");
	background-size: contain;
	/* position: relative; */
	display: flex;
	color: #E7CE7C;
	height: auto;
}


.footer-text-body{
	color: white;
}
/* 
@media screen and (min-width: 900px){
	.footer-text{
		position: absolute;
		top: 40%;
		left: 15%;
		right: 30%;
	}

	.footer-image{
		position: absolute;
		top: 40%;
		left: 5%;
		margin-right: 40px;
	}
} */


hr{
    height: 3px;
    background-color: #000;
    border: none;
}

