*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
}

body{
	font-size: 16px;
	background-color: red;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #0060B4;
	width: 100%;
	height: 100px;
	position: relative;
	font-size: 12px;
}

.header-text{
	padding: 10px 10px;
	height: 40px;
	line-height: 40px;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	/*background-color: red;*/
}

.right{
	/*margin-left: auto;*/
}

.left{
	/*float: left;*/
}

.header-image{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.logo-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #0072D3;
	width: 100%;
	height: 200px;
}

.logo-section-text{
	/*margin: 0 auto;*/
	margin-right: auto;
	margin-left: 16px;
	line-height: 200px;
	color: white;
}

.logo-image{
	height: 100px;
	width: 100px;
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	margin-left: 20px;
}

.navigation{
/*	border-radius: 5px;
	width: auto;
	height: 70px;
	background: #FAFAFA;
	margin: 0 auto;
	z-index: 1;
	position: absolute;
	top: 223px;
	left: 28%;*/
	display: none;
}

.navigation-link{
	text-decoration: none;
	line-height: 70px;
	padding: 0 30px;
	color: black;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
	padding: 12px 12px;
	min-width: 150px;
	list-style: none;
	z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
	margin-left: 5px;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.margin-container-left{
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	/*margin-right: 40px;*/
}

.margin-container-right{
	/*margin-left: 40px;*/
	margin-right: 20px;
}

.marging-container-left-right{
	margin-left: 20px;
	margin-right: 20px;
}

.margin-container{
	margin: 50px 20px;
}

.main{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #34495E;
	position: relative;
	height: 500px;
}

.main-text{
	margin-left: 20%;
	margin-right: 20%;
	color: white;
	line-height: 1.5;
}

.call-to-action{
	background: white;
	border: solid #0072D3 1px;
	border-radius: 5px;
	height: 60px;
	width: 150px;
	color: #0072D3;
	margin-top: 30px;
}

.call-to-action:hover{
	background: #0072D3;
	color: white; 
}

.aboutus{
	line-height: 1.5;
	display: flex;
	flex-direction: row;
}

.message{
	background-color: #FAFAFA;
	padding: 16px 0px;
	line-height: 1.5;
}

.news ul {
  list-style-image: url('images/bulletPointer2.png');
}

.news-section{
	color: #0072D3;
	margin: 16px 30px;
}

.news-headline{
	padding: 10px 10px;
}

.page-shifter{
	display: flex;
	flex-direction: row;
	border-right: solid gray 2px;
	border-top: solid gray 2px;
	border-bottom: solid gray 2px;
	width: 30px;
}

.page-shifter-page{
	border-left: solid gray 2px;
}

.footer{
	display: flex;
	flex-direction: row;
	background: #34495E;
	color: white;
	font-size: 14px;
	line-height: 2;
	padding: 50px;
}

.footer-links{
	list-style: none;
	margin: 30px 50px;
}

.footer-links a{
	color: white;
	text-decoration: none;
}


.findus a{
	color: white;
	text-decoration: none;
	/*margin: 10px;*/
}

.quicklinks a{
	color: white;
	text-decoration: none;
	/*margin: 10px;*/
}

.lighter-text{
	color: #ECECEC;
}

svg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    fill: white;
}

h1{
	text-align: center;
}